/*Work sans*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*Navbar*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.g {
    color: #FF42A5;
}

.nav-list-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.follow-us-container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e6e9;
    padding: 1rem;
    border-radius: 10px;
}

/*Banner*/
.banner {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    background-color: #FFFFFF;
    height: 63vh;
}

.banner-graphics {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner-img {
    width: 55%;
}

.banner-content {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    background-image: url("../images/Group-14.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-content-main {
    padding: 10rem;
}

.banner-subtitle {
    font-size: 2rem;
    font-weight: 600;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, rgba(222, 76, 193, 1) 46%, rgba(159, 85, 228, 1) 77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.banner-list-main {
    list-style: none;
}

.banner-list-main>li {
    padding: 0.3rem 0;
}

.banner-btn {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.sign-in {
    padding: 0.7rem 1.3rem;
    border-style: none;
    border-radius: 20px;
    color: white;
    background-color: #FF42A5;
}

.rouge {
    padding: 0.7rem 1.3rem;
    border-style: none;
    border-radius: 20px;
    color: white;
    background-color: #4EC5F7;
}

/*Online*/
.online {
    padding-top: 7rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.online-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.online-title {
    font-size: 2rem;
    font-weight: 700;
}

.online-title > span {
    background: linear-gradient(180deg, rgba(222, 76, 193, 1) 46%, rgba(159, 85, 228, 1) 77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.online-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.online-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30%;
}

.card-content {
    width: 70%;
}

.card-img {
    width: 70%;
}

/*Media Queries*/
/*Navbar*/
@media screen and (max-width: 425px) {

    /*Navbar*/
    .header {
        flex-direction: column;
        gap: 2rem;
    }

    .nav-list-main {
        flex-direction: column;
        gap: 1rem;
    }

    /*Banner*/
    .banner {
        flex-direction: column;
    }

    .banner-content {
        background-size: cover;
        width: 80vw;
        align-items: center;
        justify-content: center;
    }

    .banner-content-main {
        padding: 0rem;
    }

    .banner-img {
        width: 70%;
    }

    /*Online*/
    .online {
        flex-direction: column;
        height: 400vh;
    }

    .online-title-container {
        text-align: center;
    }

    .online-card-container {
        flex-direction: column;
        gap: 2rem;
    }

    .online-card {
        width: 100%;
    }
}