/*Work sans*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*Navbar*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.g {
    color: #FF42A5;
}

.nav-list-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.follow-us-container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e6e9;
    padding: 1rem;
    border-radius: 10px;
}

/*Banner*/
.banner {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    background-color: #FFFFFF;
    height: 63vh;
}

.banner-graphics {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.banner-img {
    width: 55%;
}

.banner-content {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    background-image: url("../images/Group-14.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-content-main {
    padding: 10rem;
}

.banner-subtitle {
    font-size: 2rem;
    font-weight: 600;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, rgba(222, 76, 193, 1) 46%, rgba(159, 85, 228, 1) 77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.banner-list-main {
    list-style: none;
}

.banner-list-main>li {
    padding: 0.3rem 0;
}

.banner-btn {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.sign-in {
    padding: 0.7rem 1.3rem;
    border-style: none;
    border-radius: 20px;
    color: white;
    background-color: #FF42A5;
}

.rouge {
    padding: 0.7rem 1.3rem;
    border-style: none;
    border-radius: 20px;
    color: white;
    background-color: #4EC5F7;
}

/*Online*/
.online {
    padding-top: 7rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.online-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.online-title {
    font-size: 2rem;
    font-weight: 700;
}

.online-title > span {
    background: linear-gradient(180deg, rgba(222, 76, 193, 1) 46%, rgba(159, 85, 228, 1) 77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.online-card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.online-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30%;
    transition: 200ms ease;
}

.card-content {
    width: 70%;
}

.card-img {
    width: 70%;
}
/*Animation*/
.online-card:hover .card-img{
    border: solid 4px #FF42A5;
    border-radius: 15px;
    filter: brightness(50%);
}

/*Anime*/
.anime {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.anime-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 1.3rem;
    padding-right: 5rem;
}

.anime-title {
    font-size: 2rem;
    font-weight: 700;
}

.anime-title > span {
    background: linear-gradient(180deg, rgba(222, 76, 193, 1) 46%, rgba(159, 85, 228, 1) 77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.anime-big {
    width: 50%;
    padding-left: 5rem;
}
.anime-small {
    width: 25%;
    position: relative;
    right: 150px;
    top: 20px;
}

/*Genre*/
.genre {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.genre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    gap: 0.5rem;
    border-radius: 50px;
    transition: 200ms linear;
    padding: 0.5rem;
}

/*Animation*/
.genre-container:hover {
    border: 2px solid;
    border-color: #FF42A5;
    color: #FF42A5;
}

.genre-name {
    font-weight: 600;
}

/*Footer*/
footer {
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0B0223;
}

.footer-title-content {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-title {
    font-size: 2rem;
    font-weight: 700;
}

.footer-list-main {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.footer-contdiions-main {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding: 2rem 0;
}

/*Media Queries*/
/*Navbar*/
@media screen and (max-width: 425px) {

    /*Navbar*/
    .header {
        flex-direction: column;
        gap: 2rem;
    }

    .nav-list-main {
        flex-direction: column;
        gap: 1rem;
    }

    /*Banner*/
    .banner {
        flex-direction: column;
    }

    .banner-content {
        background-size: cover;
        width: 80vw;
        align-items: center;
        justify-content: center;
    }

    .banner-content-main {
        padding: 0rem;
    }

    .banner-img {
        width: 70%;
    }

    /*Online*/
    .online {
        flex-direction: column;
        height: 400vh;
    }

    .online-title-container {
        text-align: center;
    }

    .online-card-container {
        flex-direction: column;
        gap: 2rem;
    }

    .online-card {
        width: 100%;
    }

    /*Online*/
    .anime {
        flex-direction: column;
        gap: 2rem;
    }

    .anime-title{
        text-align: center;
    }

    .anime-subtitle {
        text-align: center;
    }

    .anime-small {
        right: 45px;
    }

    .anime-content{
        padding-right: 0;
    }

    /*Genre*/
    .genre {
        height: 150vh;
    }

    .genre-container {
        margin: 1rem;
        font-size: 0.6rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .genre-img {
        width: 60%;
    }

/*Footer*/
.footer-list-main {
    padding-bottom: 0;
    gap: 0.2;
    font-size: 0.7rem;
}

.footer-contdiions-main {
    gap: 2rem;
    padding: 0;
    font-size: 0.7rem;
}

.copywrite {
    font-size: 0.7rem;
    padding-top: 1.5rem;
}
}